{% extends "main_work_page/navigation_panel.html.twig" %}

{% block title %}Edit...{% endblock %}

{% block head %} {{parent()}} {% endblock %}
 
    {% block aside %}
    <body class="bg-gray-100 font-family-karla flex">
        {{ parent() }}
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
    {% endblock %}
    
        {% block header %}
            {{ parent() }}
        <main class="w-full flex-grow p-6">
        <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
                        <p class="text-xl pb-6 flex items-center">
                            <i class="fas fa-list mr-3"></i> Edit {{ type }}
                        </p>
                        <div class="leading-loose">
                            
                                 {{ form_start(form, {'attr': {'class' : 'p-10 bg-white rounded shadow-xl' }}) }}
                                  {{ form_widget(form.type, {'attr' : {'hidden':''}}) }}
                                <div class="mt-2">
                                     
                                   {{ form_row(form.text) }}
                                </div>
                                <div class="mt-6">
                                    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Submit</button>
                                </div>
                </form>
            </div>
        </div>
        </main>
            <footer class="w-full bg-white text-right p-4">
                By ANCIENT STUDIO
            </footer>
     <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

 
   
{% endblock %}