{% extends "main_work_page/navigation_panel.html.twig" %}

{% block title %}Edit...{% endblock %}

{% block head %}

 {{parent()}}
<link href="{{ asset('assets/css/text_editor.css') }}" rel='stylesheet'>
 {% endblock %}
 
    {% block aside %}
    <body class="bg-gray-100 font-family-karla flex">
        {{ parent() }}
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
    {% endblock %}
    
        {% block header %}
            {{ parent() }}
        <main class="w-full flex-grow p-6">
        <div class="w-full lg:w-1/2 my-6 pr-0 lg:pr-2">
                        <p class="text-xl pb-6 flex items-center">
                            <i class="fas fa-list mr-3"></i> Edit {{ type }}
                        </p>
                        <div class="leading-loose">
                             
                                <div class="mt-2">
                                    <div class="cont">
                                        <div id="editor" contenteditable="false" style="justify-content:space-between;">
                                            <section id="toolbar">
                                                <div id="bold" class="icon fa fa-bold"></div>
                                                <div id="italic" class="icon fa fa-italic"></div>
                                                <div id="createLink" class="icon fa fa-link"></div>
                                                <div id="insertUnorderedList" class="icon fa fa-list"></div>
                                                <div id="insertOrderedList" class="icon fa fa-list-ol"></div>
                                                <div id="justifyLeft" class="icon fa fa-align-left"></div>
                                                <div id="justifyRight" class="icon fa fa-align-right"></div>
                                                <div id="justifyCenter" class="icon fa fa-align-center"></div>
                                                <div id="justifyFull" class="icon fa fa-align-justify"></div>
                                            </section>

                                            <div id="page" contenteditable="true">
                                                <p id="page-content"></p>
                                            </div>
                                        </div>
                                        <button class="log-out-client" onclick="getContent();">
                                            <i class="fa fa-save"></i>
                                            <span>Save content</span>
                                        </button>
                                    </div>
                                </div>  
                                 
                                 
                                 {{ form_start(form, {'attr': {'class' : ' ' , 'id' :'myForm' }}) }}
                                  {{ form_widget(form.type, {'attr' : {'hidden':''}}) }}
                                    {{ form_widget(form.text, {'attr' : {'hidden' :'',  }}) }}
                               
                                    {{ form_end(form)}}
            </div>
        </div>
        </main>
            <footer class="w-full bg-white text-right p-4">
                By ANCIENT STUDIO
            </footer>
     <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <!-- ChartJS -->
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ asset('assets/js/text_editor.js') }}"> </script>
 
   
{% endblock %}